{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNMP Monitor</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1><b>SNMP Monitor</b></h1>
            <div class="admin">
                <img src="{% static 'img/user.png' %}" alt="Admin" class="admin-img">
                <span>Admin</span>
            </div>
        </header>
        <main class="main">
            <form class="hosts" method="POST" id="hostForm">
                {% csrf_token %}
                <div class="hosts">
                    {% for host in hosts %}
                    <div class="host" onclick="document.getElementById('ipInput').value='{{ host.ip }}'; document.getElementById('hostForm').submit();">
                        <p class="ip">{{ host.ip }}</p>
                        <h2>{{ host.hostname }}</h2>
                        <div class="role-os">
                            <p class="role">{{ host.role }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <input type="hidden" name="ip" id="ipInput">
            </form>
            <div class="details">
                <div class="cpu-usage">
                    <select class="dropdown" id="chart-select">
                        <option value="cpu-usage">CPU Usage</option>
                        <option value="hdd-usage">HDD Usage</option>
                        <option value="network-usage">Network Usage</option>
                    </select>
                    <div class="chart">
                        <canvas id="myChart"></canvas>
                    </div>
                    <form method="POST" id="criticalForm" class="input-container">
                        {% csrf_token %}
                        <input type="number" placeholder="Critical value:" class="dropdown" name="critical_value" id="criticalInput" value="{{ critical_value }}">
                        <button type="submit">Update</button>
                    </form>
                </div>
                <div class="host-info">
                    <h3>{{ active_host.hostname }} Info</h3>
                    <ul>
                        <li><strong>IP: </strong> {{ active_host.ip }} </li>
                        <li><strong>Status: </strong> {{ active_host.status }} </li>
                        <li><strong>OS: </strong> {{ active_host.system }} </li>
                        <li><strong>CPU Usage: </strong>  {{ active_host.measures.cpu_usage.measures.last.1 }}%</li>
                        <li><strong>HDD Usage: </strong>  {{ active_host.measures.hdd_usage.measures.last.1 }}/{{ active_host.hdd_total }}  Gb</li>
                        <li><strong>Network Usage: </strong>  {{ active_host.network_usage }}  b</li>
                        <li><strong>USB Devices: </strong>  {{ active_host.usb_devs }} </li>
                    </ul>
                </div>
                <div class="network-devices">
                    <h3>Network Devices</h3>
                    <ul>
                        {% for host in hosts %}
                        <li>
                            <strong>{{ host.ip }}:</strong> {{ host.hostname }}
                            <span class="status {% if host.status == 'Active' %}active{% else %}inactive{% endif %}"></span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if show_warning %}
            <div class="warning">
                <div class="warning-icon">
                    <img src="{% static 'img/warning.png' %}" alt="Warning Icon">
                </div>
                <div class="warning-text">
                    <h3 class="warning-title"><b>Warning</b></h3>
                    <p><b> {{ title }} </b></p>
                    <p> {{ description }} </p>
                    <button onclick="document.getElementById('ipInput').value='{{ trouble_host.ip }}'; document.getElementById('hostForm').submit();">Check saved state</button>
                </div>
            </div>
            {% endif %}
        </main>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
